## vim:ft=sshconfig ts=2 et
#PERSONAL
    ## Personal Devices
    Host pyke
        HostName pyke
        User katyl
        # IdentityFile ~/.ssh/id_ed25519
        ForwardAgent yes
        ForwardX11 yes
        RequestTTY yes
    Host shadow
        HostName shadow
        User katyl
        # IdentityFile ~/.ssh/id_ed25519
        ForwardAgent yes
        ForwardX11 yes
	      RequestTTY yes
## INFRASTRUCTURE
    Host westeros router
        HostName router
        User katyl
    Host essos wifi
        HostName essos
        User root
    Host casterlyrock
        HostName casterlyrock
        User katyl
        # IdentityFile  ~/.ssh/inf_rsa
        ForwardAgent yes
        ForwardX11 yes
  	    RequestTTY yes
# GIT SERVICES
    Host github github.com
        HostName github.com
        User git
        ForwardX11 no
        RequestTTY no
        # IdentityFile  ~/.ssh/git_rsa
        MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512
    host aur aur.archlinux.org
        HostName aur.archlinux.org
        User aur
        ForwardX11 no
    host softserve
        HostName casterlyrock
        User katyl
        port 23231
        IdentityFile ~/.ssh/git_key
# Virtual Machines
    host kali
        hostname kali
        user katyl
        # IdentityFile ~/.ssh/inf_rsa
	      ForwardAgent yes
	      RequestTTY yes
    host win10
        hostname win10
        user katyl
    host fedora
        hostname fedora
        user katyl
        RequestTTY yes
        ForwardAgent yes
# Kids School
    host aiden-school
        hostname aiden-school
        user lehmanneric
        ForwardAgent no
    host tristan-school
        hostname tristan-school
        user lehmanneric
        ForwardAgent no
    host parents
        hostname 47.38.68.109
        user katyl
        ForwardAgent no
