[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/bundle/vim-lucius"]
	path = vim/.vim/bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/.vim/bundle/vim-one"]
	path = vim/.vim/bundle/vim-one
	url = https://github.com/rakr/vim-one.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/.vim/bundle/tabular"]
	path = vim/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/.vim/bundle/vim-cpp-enhanced-highlight"]
	path = vim/.vim/bundle/vim-cpp-enhanced-highlight
	url = git@github.com:octol/vim-cpp-enhanced-highlight.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/.vim/bundle/vim-devicons"]
	path = vim/.vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "vim/.vim/bundle/vim-indent-guides"]
	path = vim/.vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/.vim/bundle/vimwiki"]
	path = vim/.vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim/.vim/bundle/material.vim"]
	path = vim/.vim/bundle/material.vim
	url = https://github.com/kaicataldo/material.vim.git
[submodule "vim/.vim/bundle/ale"]
	path = vim/.vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/.vim/bundle/deoplete.nvim"]
	path = vim/.vim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "vim/.vim/bundle/nvim-yarp"]
	path = vim/.vim/bundle/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "vim/.vim/bundle/vim-hug-neovim-rpc"]
	path = vim/.vim/bundle/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
